html {
  scroll-behavior: smooth;
}

/* Navigation hover state */
.site-nav li:hover {
  color: var(--wp--preset--color--dark-green, #174c3f);
}

.site-nav li {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.site-nav li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--wp--preset--color--dark-green);
  transition: width 0.5s ease-in-out;
}

.site-nav li:hover::after {
  width: 100%;
}

/* IMAGE BLOCK */
.is-style-default {
  @apply block w-auto;
}

/* Vision pill transition */
.fade-in {
  @apply opacity-0 translate-y-5 transition-opacity transition-transform duration-700 ease-out;
}

.fade-in.visible {
  @apply opacity-100 translate-y-0;
}

/* Header navigation dropdown */
.wp-block-navigation__submenu-icon {
  display: none !important;
}

.wp-block-navigation__submenu-container a {
  border-bottom: 1px solid #b0c8d4;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  font-weight: 500;
  background-color: #cedfdb;
  justify-content: center;
}

/* Dropdown container*/
.wp-block-navigation__submenu-container {
  background-color: #cedfdb;
  overflow: hidden !important;
  color: #515160 !important;
}

.wp-block-navigation__submenu-container li:hover {
  color: #2c89a5;
}

.wp-block-navigation ul li {
  flex: auto !important;
  justify-content: center !important;
  text-color: #515160;
}


.wp-block-navigation ul li>ul {
  left: -50% !important;
}

/* Show submenu on hover */

.navigation-link {
  @apply px-4 py-2;
}

.hero-button a {
  border-radius: 0.375rem;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.hero-button a:hover {
  background-color: #7EDDC3B2;
}

/* blog */

.blogNav .wp-block-navigation ul li>ul {

  right: 50% !important;
  justify-items: center;

}

/* Upcoming event css */
.events-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 36px;
}

/* responsive */
@media(min-width: 640px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1024px) {
  .events-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* easier to edit styling from event-card instead of inline */
.event-card {
  width: 230px;
  height: 278px;
  padding: 16px 21px;
  gap: 22px;
  border-radius: 12px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.3s ease;
  background-color: #fff;
}

.event-card:hover {
  background-color: #7EDDC3 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.event-card.closest {
  background-color: #7EDDC3;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
}

.upcoming-events-title {
  font-size: 1.875rem !important;
  font-weight: 800 !important;
  color: #207860 !important;
  margin-bottom: 10px !important;
  line-height: 1.2 !important;
}