html { 
  scroll-behavior: smooth; 
}

/* Navigation hover state */
.site-nav li:hover {
  color: var(--wp--preset--color--dark-green, #174c3f);
}
.site-nav li {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.site-nav li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--wp--preset--color--dark-green);
  transition: width 0.5s ease-in-out;
}
.site-nav li:hover::after {
  width: 100%;
}

/* IMAGE BLOCK */
.is-style-default {
  @apply block w-auto;
}

/* Vision pill transition */
.fade-in {
  @apply opacity-0 translate-y-5 transition-opacity transition-transform duration-700 ease-out;
}

.fade-in.visible {
  @apply opacity-100 translate-y-0;
}

/* Header navigation dropdown */
.wp-block-navigation__submenu-icon {
  display: none !important;
}

.wp-block-navigation__submenu-container a {
  border-bottom: 1px solid #b0c8d4;
}

.wp-block-navigation__submenu-container .wp-block-navigation-item__content {
  font-weight: 500;
  background-color: #cedfdb;
  justify-content: center;
}

/* Dropdown container*/
.wp-block-navigation__submenu-container {
  background-color: #cedfdb;
  overflow: hidden !important;
  color: #515160 !important;
}

.wp-block-navigation__submenu-container li:hover {
  color: #2c89a5;
}

.wp-block-navigation ul li {
  flex: auto !important;
  justify-content: center !important;
  text-color: #515160;
}


.wp-block-navigation ul li > ul {
  left: -50% !important;
}

/* Show submenu on hover */

.navigation-link {
  @apply px-4 py-2;
}