<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">
  
  <!-- wp:template-part {"slug":"header","className":"z-20"} /-->

  <!-- wp:group {"className":"p-10"} -->
  <div class="wp-block-group grid grid-cols-[1fr_2fr] p-5 gap-10 border">

    <!-- wp:template-part {"slug":"side-menu-admin"} /-->
  
    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:pattern {"slug":"svlti/company-listing"} /-->
    </div>
    <!-- /wp:group -->

  
  </div>
  <!-- /wp:group -->
  
</div>
<!-- /wp:group -->