<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div
  class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"
>
  <!-- wp:template-part {"slug":"header"} /-->

  <!-- wp:group {"className":"p-10"} -->
  <div class="wp-block-group flex flex-row p-10 pl-5 gap-10">

    <!-- wp:template-part {"slug":"side-menu-blog"} /-->

    <!-- wp:group {"className":"w-full","layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group flex flex-col w-full">
      <!-- wp:pattern {"slug":"svlti/announcementsToParents"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
