<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"flex bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group flex bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">


  <!-- wp:group {"className":"shadow-sm p-6 md:p-10 flex flex-col "} -->
  <div class="wp-block-group shadow-sm p-6 md:p-10 flex flex-col">

    <!-- wp:navigation {"orientation":"vertical","className":"flex flex-col space-y-1"} -->
      <!-- wp:navigation-link {"label":"Highlights","url":"#highlights","className":" text-xs font-semibold mb-1 active:text-teal-900 active:drop-shadow"} /-->
      <!-- wp:navigation-link {"label":"Upcoming Events","url":"#upcoming-events","className":"text-xs font-semibold mb-1  active:text-teal-900 active:drop-shadow"} /-->
      <!-- wp:navigation-link {"label":"Announcements to Parents","url":"#announcements","className":"text-xs font-semibold mb-1 active:text-teal-900 active:drop-shadow"} /-->
    
    <!-- /wp:navigation -->
  </div>
  <!-- /wp:group -->


  <!-- wp:group {"className":"flex-1 p-3 md:p-4"} -->
  <div class="wp-block-group flex-1 p-2 md:p-2">

   
    <!-- wp:group {"className":"hidden","htmlAnchor":"highlights"} -->
    <div id="highlights" class="wp-block-group hidden">
      <!-- wp:heading {"level":2,"className":"text-sm font-bold mb-2"} -->
      <h2 class="text-sm font-bold mb-2">Highlights</h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph -->
      <p>Placeholder content for Highlights.</p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->


    <!-- wp:group {"htmlAnchor":"upcoming-events"} -->
    <div id="upcoming-events" class="wp-block-group">
      <!-- wp:pattern {"slug":"svlti/upcoming-events"} /-->
    </div>
    <!-- /wp:group -->

    
    <!-- wp:group {"className":"hidden","htmlAnchor":"announcements"} -->
    <div id="announcements" class="wp-block-group hidden">
      <!-- wp:heading {"level":2,"className":"text-sm font-bold mb-2"} -->
      <h2 class="text-sm font-bold mb-2">Announcements</h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph -->
      <p>Placeholder content for Announcements.</p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->

  </div>
  <!-- /wp:group -->

</div>
<!-- /wp:group -->


<!-- wp:template-part {"slug":"footer"} /-->
