<!-- wp:group {"className":"bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen","layout":{"type":"constrained"}} -->
<div class="wp-block-group bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen">
  
  <!-- wp:template-part {"slug":"header"} /-->

  <!-- wp:group {"className":"p-10"} -->
  <div class="wp-block-group flex flex-row p-10 pl-5 gap-10 border">

    <!-- wp:template-part {"slug":"side-menu-blog","className":"side-menu"} /-->

    <!-- wp:group {"className":"","layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:pattern {"slug":"svlti/blogs-grid"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
