<!-- wp:group {"className":"bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen","layout":{"type":"constrained"}} -->
<div class="wp-block-group bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen">

    <!-- wp:template-part {"slug":"header"} /-->


    <!-- wp:group {"className":"max-w-7xl mx-auto px-6 py-12","layout":{"type":"constrained"}} -->
    <div class="wp-block-group max-w-7xl mx-auto px-6 py-12">

        <!-- wp:group {"className":"flex gap-12","layout":{"type":"constrained"}} -->
        <div class="wp-block-group flex gap-12">



            <!-- wp:group {"tagName":"div","anchor":"success-message"} -->
            <div id="success-message" class="wp-block-group">
                <!-- wp:pattern {"slug":"svlti/contactSuccess"} /-->
            </div>
            <!-- /wp:group -->

        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->