<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">
  
  <!-- wp:template-part {"slug":"header","theme":"svlti-theme-v1"} /-->

  <!-- wp:group {"tagName":"div","anchor":"home"} -->
  <div id="home" class="wp-block-group">
    <!-- wp:pattern {"slug":"svlti/hero"} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"bg-dark-green text-white text-center py-6","layout":{"type":"constrained"}} -->
  <div class="wp-block-group bg-dark-green text-white text-center py-6">
  <!-- wp:heading {"textAlign":"center","className":"text-2xl font-semibold"} -->
  <h2 class="wp-block-heading has-text-align-center text-2xl font-semibold">
    School Vision, Mission and History
  </h2>
  <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  
  <!-- wp:group {"tagName":"div","anchor":"mission"} -->
  <div id="mission" class="wp-block-group">
    <!-- wp:pattern {"slug":"svlti/mission"} /-->
  </div>
  <!-- /wp:group -->
  
  <!-- wp:group {"tagName":"div","anchor":"vision"} -->
  <div id="vision" class="wp-block-group">
    <!-- wp:pattern {"slug":"svlti/vision"} /-->
  </div>
  <!-- /wp:group -->
  
  <!-- wp:group {"tagName":"div","anchor":"history"} -->
  <div id="history" class="wp-block-group">
    <!-- wp:pattern {"slug":"svlti/history"} /-->
  </div>
  <!-- /wp:group -->
  
</div>
<!-- /wp:group -->