<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">
  
  <!-- wp:template-part {"slug":"header"} /-->

  <!-- wp:group {"className":"p-10"} -->
  <div class="wp-block-group flex flex-row p-10 pl-5 gap-10 border">

    <!-- wp:template-part {"slug":"side-menu","className":"side-menu"} /-->
  
    <!-- wp:group -->
    <div class="wp-block-group flex flex-col">
    
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:pattern {"slug":"svlti/internship-hero"} /-->
      </div>
      <!-- /wp:group -->
      
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:pattern {"slug":"svlti/internship-process"} /-->
      </div>
      <!-- /wp:group -->

    </div>
    <!-- /wp:group -->
  
  </div>
  <!-- /wp:group -->
  
</div>
<!-- /wp:group -->