<!-- wp:group {"className":"bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen">


    <!-- wp:template-part {"slug":"header","theme":"schoolwebsite"} /-->



    <!-- wp:group {"className":"max-w-7xl mx-auto px-6 py-12","layout":{"type":"constrained"}} -->
    <div class="wp-block-group max-w-7xl mx-auto px-6 py-12">
        <!-- wp:heading {"className":"text-header-xxl bg-gradient-to-b from-eucalyptus-110 to-elm-110 bg-clip-text text-transparent mb-8"} -->
        <h2
            class="wp-block-heading text-header-xxl bg-gradient-to-b from-eucalyptus-110 to-elm-110 bg-clip-text text-transparent mb-8">
            Be a Partner with Us!
        </h2>
        <!-- /wp:heading -->

        <!-- wp:pattern {"slug":"svlti/filter-buttons"} /-->




        <!-- wp:group {"tagName":"div","anchor":"listings"} -->
        <div id="listings" class="wp-block-group">
            <!-- wp:pattern {"slug":"svlti/listings"} /-->
        </div>
        <!-- /wp:group -->


    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"bg-elm-90 py-6 text-center text-white","layout":{"type":"constrained"}} -->
    <div class="wp-block-group bg-elm-90 py-6 text-center text-white">
        <!-- wp:paragraph {"align":"center","className":"leading-relaxed text-paragraph-normal"} -->
        <p class="has-text-align-center leading-relaxed text-paragraph-normal">
            Please note that all applicants will be considered subject to an interview process. Submission of your
            application does not guarantee placement.
        </p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->


</div>
<!-- /wp:group -->