<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">
  
    <!-- wp:template-part {"slug":"header"} /-->

    <!-- wp:group {"className":"max-w-7xl mx-auto px-8 py-8"} -->
    <div class="wp-block-group max-w-7xl mx-auto px-8 py-8">

        <!-- wp:group {"className":"gap-8"} -->
        <div class="wp-block-group flex flex-row gap-8">

            <!-- wp:template-part {"slug":"side-menu-courses","className":"side-menu"} /-->

            <!-- wp:group -->
            <div class="wp-block-group">
              <!-- wp:pattern {"slug":"svlti/jobs-grid"} /-->

            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->


