<!-- wp:group {"className":"bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen"} -->
<div class="wp-block-group bg-gradient-to-b from-white to-light-blue min-h-screen overflow-hidden max-w-screen">
  
  <!-- wp:template-part {"slug":"header","className":"z-20"} /-->

  <!-- wp:group {"className":"p-10"} -->
  <div class="wp-block-group flex flex-row p-10 pl-5 gap-10 border">

    <!-- wp:template-part {"slug":"side-menu-courses","className":"side-menu"} /-->
  
    <!-- wp:group -->
    <div class="wp-block-group flex flex-col">
    
      <!-- wp:heading -->
      <h2 class="wp-block-heading text-5xl text-brand font-bold mb-3">Life Skills</h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph -->
      <p class="text-md mb-5">
        Developing life skills is essential for both personal and professional growth. 
        These courses are designed to help learners build practical abilities that improve communication, problem-solving, and adaptability in everyday situations. 
        By strengthening these competencies, learners position themselves not just as skilled workers, but as well-rounded individuals prepared for long-term success.
      </p>
      <!-- /wp:paragraph -->
      
      <!-- wp:group -->
      <div class="wp-block-group">
        <!-- wp:pattern {"slug":"svlti/life-skills"} /-->
      </div>
      <!-- /wp:group -->

    </div>
    <!-- /wp:group -->
  
  </div>
  <!-- /wp:group -->
  
</div>
<!-- /wp:group -->