<!-- wp:group {"className":"bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen","layout":{"type":"constrained"}} -->
<div class="wp-block-group bg-gradient-to-b from-white to-elm-60 min-h-screen overflow-hidden max-w-screen">

  <!-- wp:template-part {"slug":"header"} /-->

  <!-- wp:group {"className":"p-10","layout":{"type":"constrained"}} -->
  <div class="wp-block-group p-10">
    <!-- wp:pattern {"slug":"svlti/job-single"} /-->
  </div>
  <!-- /wp:group -->

</div>
<!-- /wp:group -->
